vti_encoding:SR|utf8-nl
vti_author:SR|Chris-PC\\Chris
vti_modifiedby:SR|Chris-PC\\Chris
vti_timelastmodified:TR|05 Jun 2008 10:19:01 -0000
vti_timecreated:TR|05 Jun 2008 10:19:01 -0000
vti_cacheddtm:TX|05 Jun 2008 10:19:01 -0000
vti_filesize:IR|1057
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{28A5BDDF-083E-4F56-9FA8-776A5DD6578B}
vti_backlinkinfo:VX|
