vti_encoding:SR|utf8-nl
vti_author:SR|Chris-PC\\Chris
vti_modifiedby:SR|Chris-PC\\Chris
vti_timelastmodified:TR|05 Jun 2008 10:19:01 -0000
vti_timecreated:TR|05 Jun 2008 10:19:01 -0000
vti_cacheddtm:TX|05 Jun 2008 10:19:01 -0000
vti_filesize:IR|4852
vti_cachedlinkinfo:VX|S|blbnr.gif S|blphb.gif S|blphbp.gif S|blhome.gif S|blnext.gif S|blprev.gif S|blup.gif S|blglb.gif S|blpvb.gif S|blpvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blbnr.gif FSUS|_themes/blank/blphb.gif FSUS|_themes/blank/blphbp.gif FSUS|_themes/blank/blhome.gif FSUS|_themes/blank/blnext.gif FSUS|_themes/blank/blprev.gif FSUS|_themes/blank/blup.gif FSUS|_themes/blank/blglb.gif FSUS|_themes/blank/blpvb.gif FSUS|_themes/blank/blpvbp.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{51115B41-FA20-473D-9031-D767623057B9}
vti_backlinkinfo:VX|
