vti_encoding:SR|utf8-nl
vti_author:SR|Chris-PC\\Chris
vti_modifiedby:SR|Chris-PC\\Chris
vti_timelastmodified:TR|05 Jun 2008 10:19:01 -0000
vti_timecreated:TR|05 Jun 2008 10:19:01 -0000
vti_cacheddtm:TX|05 Jun 2008 10:19:01 -0000
vti_filesize:IR|10631
vti_cachedlinkinfo:VX|S|blglb.gif S|blbkgnd.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blglb.gif FSUS|_themes/blank/blbkgnd.gif FSUS|_themes/blank/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{AB4916A7-3E8F-4E27-9F3A-851DD659F614}
vti_backlinkinfo:VX|
